

.parent{
width:60%;
  background-color: #C6E4D6;
  border:1px solid #006A50;
margin: auto;
  display: flex;
font-size: 30px;
justify-content: space-between;

text-align: justify;
border-radius: 10px;

}
.h1-1{
margin-left: 380px;


}
.chaild-1{
 margin-bottom: 50px;
  margin-top: 200px;
  margin-left: 50px;
}
.img-1{
width: 400px;
height: 300px;
margin-top: 100px;
margin-bottom: 30px;
margin-right: 150px;
}
.button-1{
  background-color: #006A50;
  width: 270px;
  height: 56px;
  color : white; 
  font-size: 20px;
  padding: 5px 20px;
  border-radius: 15px;
}

.p-1{
font-size: 50px;
font-weight: bold;
}

.parent-2{
display:flex;
width:60% ;
justify-content: center;
gap: 60px;
margin: auto;
}
.h1-2{
  margin-left: 380px;

}
.chaild-2{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
 background-color: #FFFFFF; 
  width:320px ;
  height:244px ;
  border-radius: 15px;
 
 }
.chaild-3{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
 background-color: #FFFFFF; 
  width:320px ;
  height:244px ;
  border-radius: 15px;
 
}
.chaild-4{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
 background-color: #FFFFFF; 
  width:320px ;
  height:244px ;
  border-radius: 15px;

}
.chaild-5{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  background-color: #FFFFFF; 
   width:320px ;
   height:244px ;
   border-radius: 15px;
   
}
img{
margin-left: 20px;
padding-top: 30px;
}

.P-bold{
font-size:20px;
font-weight: bold;
margin-left: 15px;
}
.p-regular{
font-size: 15px;
margin-left: 15px;

}

.parent-3{
  width: 60%;
  display:flex;
  margin: auto;
  justify-content: center;
  gap: 100px;
}
.header{
  margin-left: 380px;
  font-size: 20px;
}

.chaild-6{
  background-color: #81B4FC;
  width: 410.67px;
  height: 325;
  border-radius: 15px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
 
}
.button-2{
  background-color: #5490F5;
  width: 122px;
  height: 41px;
  padding: 20px;
  color:#FFFFFF ;
  border-radius:10px ;
  margin-bottom: 20px;
  margin-left: 10px;
  font-size: 15px;
  display: flex; 
  align-items: center;
}
.chaild-7{
  background-color:#C6E4D6;
  width: 410.67px;
  height: 325px;
  border-radius: 15px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
 
}
.button-3{
  background-color: #09A15C;
  width: 122px;
  height: 41px;
  padding: 20px;
  color:#FFFFFF ;
  border-radius:10px ;
  margin-bottom: 20px;
  margin-left: 10px;
  font-size: 15px;
  display: flex; 
  align-items: center;
}
.chaild-8{
  background-color:#FFD55D;
  width: 410.67px;
  height: 325px;
  border-radius: 15px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  
}
.button-4{
  background-color: #FFC239;
  width: 122px;
  height: 41px;
  padding: 20px;
  color:#FFFFFF ;
  border-radius:10px ;
  margin-bottom: 20px;
  margin-left: 10px;
  font-size: 15px;
  display: flex; 
  align-items: center;
}

.parent-4{
  width: 60%;
  height: 256px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  background-color: #FFFFFF;
  border-radius: 10px ;
 margin:50px auto;

}
.quote{
  position: relative;

}
.img-2{
  width:64px ;
  height: 64px;

}

.h-3{
margin-left:380px;
}
.parent-5{
width: 60%;
padding: 20px;
margin: auto;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  background-color: #FFFFFF;
  border-radius:10px ;
  
}
.chaild-9{

  height: 60px; 
  padding: 20px;
background-color:#C6E4D6; 
display: flex;
border: 1px solid gray;
}
.P-tag1{
font-weight: bold;
font-size: 25px;
margin-right: 750px;

}
.P-tag2{
  font-weight: bold;
  font-size: 25px;

}
.chaild-10{
width: 1017px;
height: 70px;
padding: 24px;
background-color: #FFFFFF;
border: 1px solid gray;
font-size: 22px;
align-items: center;
display: flex;

}
.chaild-11{
 width: 200px;
 height:70px ;
 padding: 24px;
 background-color: #FFFFFF;
 border: 1px solid gray;
align-items: center;
display: flex;
}
.chaild-12{
  width: 1017px;
  height: 70px;
  padding: 24px;
  background-color: #FFFFFF;
  border: 1px solid gray;
  font-size: 22px;
  align-items: center;
display: flex;
}
.chaild-13{
  width: 200px;
  height:70px ;
  padding: 24px;
  background-color: #FFFFFF;
  border: 1px solid gray;
  align-items: center;
display: flex;
align-items: center;
}
.chaild-14{
  width: 1017px;
  height: 70px;
  padding: 24px;
  background-color: #FFFFFF;
  border: 1px solid gray;
  font-size: 22px;
  align-items: center;
display: flex;
}
.chaild-15{
  width: 200px;
  height:70px ;
  padding: 24px;
  background-color: #FFFFFF;
  border: 1px solid gray;
display: flex;
align-items: center;
}
.button-5{
  width: 152px;
  height: 44px;
  padding: 14px;
  border-radius: 10px;
  background-color:#C6E4D6 ;

}
.chaild-16{
  display: flex;

}
.chaild-17{
  display: flex;

}
.chaild-18{
  display: flex;

}
.header-1{
  padding-top: 30px;
  margin-left: 380px;
}
.img-3{
  float:left;
  width: 408px;
  height: 306px;
border-radius: 25px 25px 25px 25px;
margin-right: 20px;
margin-bottom: 20px;
}

.parent-6{
width: 57%;
height: 350px;
padding:30px;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  background-color: #FFFFFF;
  border-radius:10px ;
  margin:50px auto;
}
.chaild-19{
  margin-top: 50px;
}
.button-6{

  background-color: #006A50;
  width: 139px;
  height: 48px;
  color: #FFFFFF;
 
  border-radius: 15px;
  font-size: 15px;
}
.parent-7{
  width: 57%;
  height: 350px;
padding: 30px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: #FFFFFF;
    border-radius:10px ;
    margin:50px auto;
}
.chaild-20{
margin-top: 50px;
}
.img-4{
  float:right ;
  width: 408px;
  height: 306px;
border-radius: 25px;

}
.h1-4{
  margin-left:800px ;
margin-top: 20px;
}
.p-tage3{
  margin-left: 400px;
  font-size: 20px;
}

.parent-8{
display:inline-flex;
margin-left: 325px;


}


.chaild-21{
  display: inline-flex;
  background-color: #FFFFFF;
  width: 200px;
  height: 100px;
  padding: 40px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1);
  font-size: 30px;
  align-items: center;
  font-weight: bold;
  border-radius: 15px;
  margin-left: 20px;
  justify-content: center;
  position: relative;

  
}
.chaild-21:hover{
  background-color:#C6E4D6 ;
  transition-duration: 1s;
}

.chaild-25{
width:60%;
height: 20px;
padding: 40px;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
background-color: #FFFFFF;
border-radius:10px ;
margin: 50px auto;

}
.input{
  font-size: 20px;
  border: none;
  text-align: center;
  justify-content: center;
  padding-left: 400px;
}
.button-7{
  background-color: #006A50;
  width: 150px;
  height: 50px;
  padding: 20px;
  color:#FFFFFF ;
  border-radius:10px ;
  margin: 50px auto;
  font-size: 15px;
  display: flex; 
  align-items: center;
  justify-content: center;
}
.parent-9{
  width: 60%;
  margin: auto;
 display: flex;
}
.box{
width: 1150px;
height: 300px;
padding: 30px;
background-color: #C6E4D6;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
border-radius: 15px;
justify-content: center;
text-align: center;
padding-left: 140px;
}   
.h-11{
font-size: 50px;
font-weight: bold;
}
.p-tage00{
font-size: 22px;
}
.chaild-26{
  width: 500px;
  display:flex;
height: 50px;
background-color: #FFFFFF;
padding-left: 50px;

}
.div-box{
  display: flex;
  border-radius: 25px;
padding-left: 50px;
}
.input-1{

border: none;
font-size: 15px;
display: inline-flex;
text-align: center;
justify-content: center;

}
.p-tage4{
  margin-top: 50px;
  font-size: 25px;
}
.button-8{
width:120px ;
height: 50px;
background-color:#006A50 ;
color: #FFFFFF;
margin-bottom: 20px;
font-size: 15px;
border: none;
}
.h-12{
font-weight: bold;
display: flex;
justify-content: center;
margin:50px auto;
}
.hr{
  width: 60%;
  
}
.icon{
 margin: auto;
display: flex;
justify-content: center;

}
.icon i{
  padding-bottom: 100px;
  margin-right: 10px;
 
font-size: 30px;
}
.section00{
  margin-bottom: 1000px;
}
